.div-result
{
  margin: auto;
  width: 500px;
  text-align: justify;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-wrap: break-word;
  margin-top: 10px;
}

.page
{
  height: 601px;
  width: 600px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

input
{
  margin-bottom: 10px;
}
button
{
  width: 100px;

}
